.navbar {
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 70px;
  position: fixed;
  bottom: 0;
  .navbarSection {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
  }
  .navbarBtn {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      &.purple {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          background: linear-gradient(125.54deg, #613973 -0.39%, #BB46E4 100%);

      }

      * {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #828282 !important;
          font-size: 30px;
          text-align: center;
      }

  }
.q-dialog{
  .q-card.CreateListCard{
    border-radius: 30px !important;
  }
}


}

